---
---

/*
 * This file controls what is imported from /_sass
 *
 * Note that the files are processed in the order they are imported, so they are partly
 * sorted by the dependencies. Also, the first two lines of the file are required by Jekyll.
 */

@import
    "vendor/breakpoint/breakpoint",

    "themes",
    "theme/{{ site.site_theme | default: 'default' | append: '_light' }}",
    "theme/{{ site.site_theme | default: 'default' | append: '_dark' }}",

    "include/mixins",
    "vendor/susy/susy",

    "layout/reset",
    "layout/base",

    "include/utilities",
    "layout/tables",
    "layout/buttons",
    "layout/notices",
    "layout/masthead",
    "layout/navigation",
    "layout/footer",
    "syntax",

    "layout/forms",

    "layout/page",
    "layout/archive",
    "layout/sidebar",
    "layout/json_cv",

    "vendor/font-awesome/fontawesome",
    "vendor/font-awesome/solid",
    "vendor/font-awesome/brands";  /* 注意这里加了分号，结束导入 */

/* 圆形 + 尺寸减半 + 防止变形 */
.sidebar .author__avatar img, 
.author__avatar img {
    width: 120px !important;       /* 宽度设为 120px (大概是侧边栏的一半) */
    height: 120px !important;      /* 高度也设为 120px，必须相等 */
    max-width: 120px !important;   /* 限制最大宽度 */
    
    border-radius: 50% !important; /* 变成圆形 */
    
    object-fit: cover !important;  /* 【关键】自动裁剪图片中心，防止长方形图片变成椭圆 */
    
    padding: 0 !important;         /* 去掉内边距 */
    border: none !important;       /* 去掉边框 */
}
